<table id="navbar">
  <tr>
    <td><%= link_to t('.home'), root_path %></td>
    <td><%= link_to t('.standings'), home_standings_path %></td>
    <td><%= link_to t('.contact'), home_contact_path %></td>
  </tr>
</table>
