/*
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

$font: Tahoma, Geneva, sans-serif;

h1 {
  font-family: $font;
}

p {
  font-family: $font;
  font-size: 20px;
}
