// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

$font: Tahoma, Geneva, sans-serif;
$main_red: #E31C25;
$grey: #c6c6c6;
$dark_grey: #222222;

form label, form input {
  display: block;
  margin: 10px;
}

#jQueryNav {
  padding: 0px;
  background-color: $main_red;
  font-weight: bold;
  color: $dark_grey;
  text-align: center;
}

#resources:hover,#programmer:hover, #GitHub:hover {
  background-color: $grey;
}

#resources,#programmer,#GitHub{
  color: white;
}

#linktocenter {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}
